.atas {
    width: 900px;
    height: 200px;
    background-color: lightgreen;
    margin: auto;
}

.row {
    width: 900px;
    height: 200px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.column {
    height: 200px;
}

.yellow {
    width: 200px;
    border: 1 px solid black;
    float: left;
    background-color: yellow;
}

.orange {
    width: 200px;
    border: 1 px solid black;
    float: right;
    background-color: orange;
}

.blue 
{
    width: 600px;
    border: 1px solid black;
    float: right;
    background-color: blue;
}